<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/stylesMain.css">
        <title>Inicio de sesión</title>
    </head>

    <body>
        <div class="upHead">
            <h1>REGINA</h1>
        </div>

        <ul class="inicioSesion">
            <li class="itemLogin">
                <a href="/login" class="">Inicia tu sesión</a>
            </li>
        </ul>

        

        {{{body}}}

    </body>
</html>